/* Provide sufficient contrast against white background */

.booking-row {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid gainsboro;
}

.booking-item {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr;
  grid-template-areas: "time user button";
  margin: 10px 0;
  padding: 2px;
  align-items: center;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 8px;
}

.booking-title {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
}

.time-slot {
  display: flex;
  flex-direction: column;
  font-style: italic;
}

.username {
  font-weight: 500;
}

.green {
  color: #70b573;
}

.blue {
    color: #1E90FF;
}

button {
  background-color: teal;
  color: #fff;
  padding: 6px 12px;
  margin: 4px;
  border: 0;
  outline: 0;
  border-radius: 8px;
}

button:focus {
  outline: none;
}
